/* GAME STYLE */
@font-face {
    font-family: Titulo;
    src: url(../fonts/ANODETONOONE.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Titulo;
    font-size: 40px;
    color: #603A03;
    padding: .5rem;
}

body {
    background-image: url(../images/fundo.jpg);
    background-size: cover;
}

/* main container */
#container {
    width: 950px;
    height: auto;
    margin: 2.5rem auto;
    position: relative;
}

#bgGame {
    width: 950px;
    height: 630px;
    background-image: url(../images/fundo_game.jpg);
    border: #fff solid;
}

/* start game message */
#startGame {
    background-color: #fff;
    width: 450px;
    height: auto;
    margin: 150px auto 0 auto;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
}

p {
    margin: 5px;
}

p:hover {
    cursor: pointer;
}

/* images after starting the game */
#player {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 8px;
    top: 179px;
    background-image: url(../images/apache.png);
}

#enemy1 {
    width: 256px;
    height: 66px;
    position: absolute;
    left: 689px;
    top: 253px;
    background-image: url(../images/inimigo1.png);    
}

#enemy2 {
    width: 165px;
    height: 70px;
    position: absolute;
    left: 775px;
    top: 447px;
    background-image: url(../images/inimigo2.png);   
}

#friend {
    width: 44px;
    height: 51px;
    position: absolute;
    left: 10px;
    top: 464px;
    background-image: url(../images/amigo.png);
}

#shotting {
    width: 50px;
    height: 8px;
    position: absolute;
    background-image: url(../images/disparo.png);
}

#explosion1 {
	width:15px;
	height:87px;
	position:absolute;
}

#explosion2 {
	width:15px;
	height:87px;
	position:absolute;
}

#explosion3 {
    width: 44px;
    height: 51px;
    position: absolute;
}

#scoreboard {
	width: 450px;
	height: 50px;
	position: absolute;
	left: 5px;
	top: 590px;
}

h2 {
	font-family: Titulo;
	font-size: 20px;
	color:#FFF
}

#energy {
	width: 140px;
	height: 38px;
	position: absolute;
	left: 750px;
	top: 7px;	
}

h3 {
	font-family:Titulo;
	font-size: 20px;
	color:#603A03;

}

#end {
    background-color: #fff;
    width: 450px;
    height: auto;
    margin: 150px auto 0 auto;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
}